<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>База автомобилей</title>
</head>
<body>

<form action="add/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="добавить">
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Марка</th>
        <th>Производитель</th>
        <th>Год</th>
        <th>Номер</th>
    </tr>
    {% for car in database %}
        <tr>
            {% for data in car %}
                <td>{{ data }}</td>
            {% endfor %}
            <td><a href="{% url 'delete' car.0 %}"><button>удалить</button></a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>